android/build
*.iml
.idea
.project
android/.gradle
android/.settings
android/.idea/workspace.xml
android/.idea/copyright/profiles_settings.xml
node_modules
*.js.map
CommonPicker.js
DatePicker.js
PickerHeader.js
RegionPicker.js
DateRangePicker.js